<!DOCTYPE html>
<html>
  <head>
    <title>Rollback Retro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'Home Page', home_index_path %> |
    <%= link_to 'Products', products_path %> |
    <%= link_to 'Reviews', reviews_path %>

    <%= yield %>
  </body>
</html>
